* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
    background-color: rgb(77, 76, 76);
}
.aside a {
    display: block;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    color: white;
}
.aside {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    padding: 5%;
    border: 5px solid whitesmoke;
}
.main {
    display: inline-block;
    vertical-align: top;
    background-color: white;
    width: 60%;
    padding: 30px;
}
    .main h1 {
        text-align: center;
        margin: 3%;
    }
    .main div {
        background-color: rgb(0, 27, 25);
        padding: 20px;
        color: rgb(245, 245, 245);
        line-height: 35px;
        margin: 20px 0;
    }
    .main span {
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        background-color: rgb(0, 148, 133);
        color: white;
        cursor: pointer;
        margin: 10px;
    }
.down {
    height: 4rem;
}
img {
    height: 5rem;
}
#fade_in {
    display: none;
}
.lighten {
    background-color: rgb(169, 197, 248) !important;
}
input {
    font-size: 20px;
    font-weight: bolder;
}