* {
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
}
.container {
    height: 500px;
    width: 500px;
    background-color: antiquewhite;
    border-radius: 5px;
    margin: 1% auto;
}
img {
    height: 100px;
    width: 100px;
    object-fit: contain;
    padding: 10px;
    cursor: pointer;
    background-color: white;
}